/* Board */
.chess.modern{border-radius:10px;}
.chess.modern .cells{border-radius:10px;overflow:hidden;}


.chess.modern .cell.pieceOver{
  z-index:5;

  
  box-shadow:0px 0px 0px 5px #999,0px 0px 0px 7px #444,0px 0px 3px 9px #CCC !important;
}

/* Specific pieces */
/* ------------------------------------------------------------------------*/
.chess .piece.pawn{}
.chess .piece.tower{}
.chess .piece.knight{}
.chess .piece.bishop{}
.chess .piece.queen{}
.chess .piece.king{}

/* Cells odd/even */
/* ------------------------------------------------------------------------*/
.chess.modern .cell.odd{background:#EC3512;}
.chess.modern .cell.even{background:#314253;}
.chess.modern .cell:after{
  content:"";
  display:block;
  height:40px;
  width:40px;
  position:absolute;
  bottom:3px;
  right:3px;
  z-index:3;
  z-index:-1;
  background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 42%, rgba(255,255,255,0.64) 79%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(42%,rgba(255,255,255,0)), color-stop(79%,rgba(255,255,255,0.64)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 42%,rgba(255,255,255,0.64) 79%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(255,255,255,0) 42%,rgba(255,255,255,0.64) 79%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0) 42%,rgba(255,255,255,0.64) 79%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(255,255,255,0) 42%,rgba(255,255,255,0.64) 79%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  opacity:0.34;
}

/* On piece drag&drop over a cell */
/* ------------------------------------------------------------------------*/
.chess.modern .cell.pieceOver{box-shadow:0px 0px 15px 3px white;}
/* Side/bottom helpers (coords) */
/* ------------------------------------------------------------------------*/
.chess.modern .helper{background:#333;color:#999;}
/* Pieces trash */
/* ------------------------------------------------------------------------*/
.chess.modern .trash{
  background:#CCC;
  border-radius:10px;
  border:solid 5px #333;
  right:-110px;
  transform:rotate(10deg);
  -ms-transform:rotate(10deg); /* IE 9 */
  -moz-transform:rotate(10deg); /* Firefox */
  -webkit-transform:rotate(10deg); /* Safari and Chrome */
  -o-transform:rotate(10deg); /* Opera */
}
/* On piece drag&drop over the trash */
/* ------------------------------------------------------------------------*/
.chess.modern .trash.pieceOver{background:#666;}
